body {
    font-family: 'Georgia', serif;
            
            color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center; /* Center the header content */
}

main {
    padding: 20px;
}

/* Remove underline from all links */
a {
    text-decoration: none;
}

/* Add underline on hover */
a:hover {
    text-decoration: underline;
}